@use '../vars';
@use '../mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 25px;

      a.active {
        color: var(--accent-color);
      }
    }
  }
}

.burger {
    @include mixins.burger;
}