@use '../../../style/vars';

.header {
  background-color: purple;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 25px;

      color: vars.$default;
    }
  }
}