@use '../vars';
@use '../mixins';
 
.HeroSection {
    position: relative;
    height: 100dvh;

    &::before {
        @include mixins.pseudo;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(27, 24, 39, 0.717);
        z-index: 2;
    }

    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    &__title {
        z-index: 2;
        @include mixins.adaptiveValue("font-size", 32, 18);
        text-wrap: balance;
        max-width: 1000px;
        width: 100%;
        animation: textColor 4s ease-in-out infinite;

        div {
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            @include mixins.adaptiveValue("font-size", 45, 20);
            @include mixins.adaptiveValue("margin-bottom", 25, 10);
            animation: titleColor 4s ease-in-out infinite;
        }
    }
}

@keyframes titleColor {
    from {
        color: var(--default-color);
    }

    50% {
        color: var(--accent-color);
    }

    to {
        color: var(--default-color);
    }
}

@keyframes textColor {
    from {
        color: var(--accent-color);
    }

    50% {
        color: var(--default-color);
    }

    to {
        color: var(--accent-color);
    }
}