@use 'sass:math';

// ИСПОЛЬЗОВАНИЕ @include pseudo
// ИСПОЛЬЗОВАНИЕ @extend %bg-img;

//Percent
@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}

//REM
@function rem($px) {
  $result: math.div($px, 16)+rem;
  @return $result;
}

//EM
@function em($px, $current: 16) {
  $result: math.div($px, $current)+em;
  @return $result;
}

//Адаптивное свойство

//Currency
@mixin currency($sym) {
  &::after {
    content: "#{$sym}";
  }
}

// Grids
@mixin gridCards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

//========================================================================================================================================================
@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
   }
}
//========================================================================================================================================================
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
//========================================================================================================================================================
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
//========================================================================================================================================================
%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// BURGER
$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
// $burgerColor: $default;
@mixin burger {
  width: $burgerWidth; //указываем ширину линий
  height: $burgerHeight; //указываем высоту линий
  position: relative;
  color: $burgerColor; //указываем цвет линий

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: $burgerLineHeight; //указываем расстояние между линиями
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burgerLineHeight;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burgerLineHeight);
  }

  &--active {
    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }
}