// $default: #ffffff;
// $accent: #75beff;
// $mainBgColor: #1f242d;
// $secondBgColor: #323945;

:root {
  --default-color: #ffffff;
  --accent-color: #75beff;
  --default-background: #1f242d;
  --accent-background: #323945;
}
